#wrap {
  width: 100%;
}
#wrap #headerModal {
  width: 100%;
  background: #5f0080;
}
#wrap #headerModal .container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
#wrap #headerModal .container .content {
  width: 100%;
}
#wrap #headerModal .container .content a {
  text-align: center;
  width: 100%;
  display: block;
  color: #fff;
  font-size: 14px;
  position: relative;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap #headerModal .container .content a strong {
  font-weight: 700;
}
#wrap #headerModal .container .content a span img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 11px;
}