#wrap {
    width: 100%;
    #main {
        width: 100%;
        #section1 {
            width: 100%;
            .slide-container {
                width: 100%;
                position: relative;
                .slide-view {
                    width: 100%;
                    z-index: 1;
                    position: relative;
                    overflow: hidden;
                    .slide-wrap { //ul
                        width: 100% * 22; //이미지갯수 22
                        display: flex;
                        margin: 0 0 0 -100%; //slide20이미지가 왼쪽으로 사라지도록
                        position: relative; //jquery,메인슬라이드,애니메이션제작에서 left를 사용하려면 position이 있어야함
                        transition: all 0.6s ease-in-out;
                        .slide { //li
                            width: 100%;
                            a {
                                display: block;
                                width: 100%;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                >a { //>, 바로밑태그만 쓰이도록!
                    opacity: 1;
                    z-index: 2;
                    position: absolute;
                    top: 50%;
                    width: 52px;
                    height: 52px;
                    margin: -26px 0 0 0;
                    &.next-arrow-btn {
                        right: 17%;
                        img {
                            width: auto;
                        }
                    }
                    &.prev-arrow-btn {
                        left: 17%;
                        img {
                            transform: rotate(-180deg);
                        }
                    }
                }
                >span {
                    z-index: 2;
                    position: absolute;
                    bottom: 20px;
                    right: 33%;
                    bottom: 20px;
                    padding: 3px 12px 6px 12px;
                    text-align: center;
                    background: rgba(0, 0, 0, .2);
                    border-radius: 15px;
                    font-size: 14px;
                    color: #fff;
                    &.page-number-box {
                        em {
                            font-size: 14px;
                        }
                        i {
                            font-size: 16px;
                            margin: 0 5px;
                        }
                    }
                }
            }
        }
    }
}